/* css styles */
figcaption {
    text-align: center;
}

/*
.btn > a {
    background-color: #FFCCFF;
    padding-left: 3px;
    padding-right: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #b21efc;
    border-radius: 3px;
    font-weight: 500;
    font-size: 17px;
    color: #b21efc;
}

.btn > a:hover {
    background-color: #FFCCFF;
    padding-left: 4px;
    border-width: 2px;
}

p {
    line-height: 1.6em;
}
*/
